@charset "utf-8";
img {
  width: 100%;
  display: block;
}

.page-container {
  padding-bottom: 0;
}

.page-wrapper {
  max-width: none;
  -webkit-overflow-scrolling: touch;
}

/*  头部 css 开始*/
.header {
  width: 100%;
  height: 0.44rem;
  background: #FFFFFF;
  box-shadow: 0rem 0.02rem 0.08rem 0rem rgba(211, 211, 211, 0.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  z-index: 1;
  .header-left-icon {
    width: 0.28rem;
    height: 0.28rem;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0.15rem;
    bottom: 0;
    margin: auto;
  }
  .title {
    font-family: PingFangSC-Medium;
    font-size: 0.18rem;
    color: #333333;
  }
}

/*  头部 css 结束*/

/*  内容 css 开始*/
.content {
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: .44rem;
  margin-bottom: 0.6rem;
  .input-box-list {
    width: 100%;
    height: auto;
    padding-left: 0.15rem;
    margin-bottom: 0;
    box-sizing: border-box;
    .input-box-li {
      width: 100%;
      height: .5rem;
      background: #FFFFFF;
      border-bottom: 0.01rem solid #ccc;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      .input-box-li-left {
        margin-right: 0.15rem;
        display: flex;
        align-items: center;
        span {
          font-family: PingFangSC-Medium;
          font-size: 0.14rem;
          color: #333333;
          font-weight: bold;
        }
      }
      .input-box-li-right {
        display: flex;
        align-items: center;
        input {
          width: 2.7rem;
          height: 100%;
          font-family: PingFangSC-Regular;
          font-size: 0.14rem;
          color: #333333;
        }
        .landline-number {
          padding-left: 0.71rem;
          box-sizing: border-box;
        }
        input::-webkit-input-placeholder {
          font-family: PingFangSC-Regular;
          font-size: 0.14rem;
          color: #AAAAAA;
        }
      }
      .input-box-li-positioning {
        position: absolute;
        top: 0;
        right: 0.15rem;
        bottom: 0;
        margin: auto;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.14rem;
          color: #333333;
        }
        .default-administrator-icon {
          width: 0.16rem;
          height: 0.16rem;
          overflow: hidden;
          display: flex;
          margin-left: 0.02rem;
        }
        .address-icon {
          width: 0.2rem;
          height: 0.2rem;
          overflow: hidden;
          display: flex;
        }
      }
      .input-box-li-administrator {
        width: 1.6rem;
        overflow: hidden;
      }
      .input-box-li-typesof-list {
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        li {
          height: 0.18rem;
          background: rgba(255, 103, 58, 0.10);
          border-radius: 0.1rem;
          padding: 0 0.06rem;
          margin-right: 0.1rem;
          margin-bottom: 0.1rem;
          display: block;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-family: PingFangSC-Regular;
            font-size: 0.1rem;
            color: #FF673A;
          }
        }
        .active {
          background: #FF673A;
          span {
            font-family: PingFangSC-Regular;
            font-size: 0.1rem;
            color: #FFFFFF;
          }
        }
      }
      .input-box-li-textarea {
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        textarea {
          width: 100%;
          font-size: 0.14rem;
        }
        textarea::-webkit-input-placeholder {
          font-family: PingFangSC-Regular;
          font-size: 0.14rem;
          color: #AAAAAA;
        }
      }
      .input-box-li-address {
        width: 2.5rem;
        overflow: hidden;
      }
    }
    .input-box-typesof {
      height: auto;
      padding: 0.15rem 0 .05rem;
      box-sizing: border-box;
      align-items: flex-start;
    }
    .input-box-textarea {
      height: auto;
      align-items: flex-start;
      .input-box-li-left {
        padding: 0.15rem 0;
        box-sizing: border-box;
      }
      .input-box-li-textarea {
        padding: 0.13rem 0;
        box-sizing: border-box;
      }
    }
  }
  .show-pictures-info {
    width: 100%;
    height: auto;
    border-bottom: 0.01rem solid #ccc;
    padding: .18rem .15rem .15rem;
    box-sizing: border-box;
    .show-pictures-info-top {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        font-family: PingFangSC-Medium;
        font-size: 0.14rem;
        font-weight: bold;
        color: #333333;
      }
      a {
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #4A90E2;
        margin-left: 0.05rem;
      }
    }
    .show-pictures-info-img {
      width: 100%;
      height: 1.8rem;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 0.06rem;
      margin-top: .15rem;
      overflow: hidden;
      position: relative;
      .upload-show-input {
        width: 70%;
        height: 70%;
        background: #4A90E2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
        opacity: 0;
      }
      .delete-icon {
        width: 0.2rem;
        height: 0.2rem;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        margin: auto;
      }
      .add-icon {
        width: 0.96rem;
        height: 0.96rem;
        background: rgba(255, 255, 255, 0.60);
        border-radius: 50%;
        padding: .24rem .24rem;
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
      }
    }
    .show-pictures-info-list {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 0.1rem;
      margin-bottom: 0;
      padding-left: 0;
      li {
        width: 0.6rem;
        height: 0.337rem;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 0.06rem;
        margin-right: 0.1rem;
        overflow: hidden;
        position: relative;
        .upload-input {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 20;
          opacity: 0;
        }
        .add-icon {
          width: 0.24rem;
          height: 0.24rem;
          background: rgba(255, 255, 255, 0.60);
          border-radius: 50%;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          z-index: 1;
        }
      }
      .active {
        border: 0.01rem solid #FF673A;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
  .show-pictures-list {
    width: 100%;
    height: auto;
    border-bottom: 0.01rem solid #ccc;
    padding: .18rem .15rem .15rem;
    box-sizing: border-box;
    .show-pictures-info-top {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        font-family: PingFangSC-Medium;
        font-size: 0.14rem;
        font-weight: bold;
        color: #333333;
      }
      a {
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #4A90E2;
        margin-left: 0.05rem;
      }
    }
    .show-pictures-list-img {
      width: 1.2rem;
      height: 1.2rem;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 0.06rem;
      margin-top: .15rem;
      overflow: hidden;
      position: relative;
      .add-icon-box {
        width: 0.5rem;
        height: 0.5rem;
        background: rgba(255, 255, 255, 0.60);
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .add-icon {
          width: 0.24rem;
          height: 0.24rem;
          overflow: hidden;
        }
      }
      .upload-input{
        width: 100%;
        height: 100%;
        background: #4A90E2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
        opacity: 0;
      }
    }
  }
  .institutional-certificate {
    width: 100%;
    height: auto;
    border-bottom: 0.01rem solid #ccc;
    padding: .18rem .15rem .15rem;
    box-sizing: border-box;
    overflow: hidden;
    .institutional-certificate-top {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        font-family: PingFangSC-Medium;
        font-size: 0.14rem;
        font-weight: bold;
        color: #333333;
      }
    }
    .institutional-certificate-img {
      width: 1.2rem;
      height: 1.2rem;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 0.06rem;
      padding: 0.12rem 0;
      box-sizing: border-box;
      margin-top: .15rem;
      margin-right: 0.1rem;
      overflow: hidden;
      position: relative;
      float: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .business-license-box {
        width: 0.5rem;
        height: 0.7rem;
        background: #fff;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .legal-person-box {
        width: 0.8rem;
        height: 0.56rem;
        background: #fff;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .upload-input{
        width: 100%;
        height: 100%;
        background: #4A90E2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
        opacity: 0;
      }
      span {
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #666666;
      }
    }
  }
  .con-footer {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0.2rem 0;
    box-sizing: border-box;
    overflow: hidden;
    p {
      text-align: center;
      font-family: PingFangSC-Regular;
      font-size: 0.12rem;
      color: #666666;
    }
    .qr-code {
      width: 2rem;
      height: 2rem;
      background: #ccc;
      margin: 0.05rem auto 0;
    }
  }
}

/*  内容 css 结束*/

/*  底部 css 开始*/
footer {
  width: 100%;
  height: 0.6rem;
  background: #fff;
  border-top: 0.01rem solid #ccc;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 222;
  display: flex;
  justify-content: center;
  align-items: center;
  .submit {
    width: 3.45rem;
    height: 0.4rem;
    background: #FF673A;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 0.4rem;
    span {
      font-family: PingFangSC-Medium;
      font-size: 0.16rem;
      color: #FFFFFF;
    }
  }
}

/*  底部 css 结束*/
