@charset "utf-8";
img {
  width: 100%;
  display: block;
}

.page-container {
  padding-bottom: 0;
}

.page-wrapper {
  background: #F7F7F7;
  max-width: none;
  -webkit-overflow-scrolling: touch;
}

/*  头部 css 开始*/
.header {
  width: 100%;
  height: 0.44rem;
  background: #FFFFFF;
  box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.05);
  padding: 0 0.15rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  .header-left {
    width: 0.28rem;
    height: 0.28rem;
    overflow: hidden;
  }
  .header-title {
    font-family: PingFangSC-Medium;
    font-size: 0.18rem;
    font-weight: bold;
    color: #333333;
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .header-share-it {
      width: 0.28rem;
      height: 0.28rem;
      overflow: hidden;
    }
    .header-more {
      width: 0.28rem;
      height: 0.28rem;
      overflow: hidden;
      margin-left: 0.1rem;
    }
  }
}

/*  头部 css 结束*/

/*  内容 css 开始*/
.content {
  width: 100%;
  height: auto;
  background: #F7F7F7;
  margin-bottom: .7rem;
  .banner-box {
    width: 100%;
    height: 1.8rem;
    background: #ccc;
    overflow: hidden;
    .swiper-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      .swiper-wrapper {
        width: 100%;
        height: 100%;
        .swiper-slide {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
      .swiper-pagination {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0.05rem;
        margin: auto;
        span:focus {
          outline: none;
        }
        .swiper-pagination-bullet {
          width: 0.05rem;
          height: 0.05rem;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.30);
          overflow: hidden;
        }
        .swiper-pagination-bullet-active {
          background: #FF673A;
        }
      }
    }
  }
  .details-box {
    width: 100%;
    height: auto;
    background: #fff;
    padding-left: 0.15rem;
    margin-bottom: 0.08rem;
    box-sizing: border-box;
    .details-box-top {
      width: 100%;
      height: 0.5rem;
      background: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .details-name {
        font-family: PingFangSC-Medium;
        font-size: 0.2rem;
        font-weight: bold;
        color: #333333;
        margin-right: 0.06rem;
      }
      .details-box-top-icon {
        width: 0.36rem;
        height: 0.16rem;
        border: 0.01rem solid #FF673A;
        border-radius: 0.03rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.1rem;
          color: #FF673A;
        }
      }
    }
    .details-desc {
      width: 100%;
      height: auto;
      padding-right: 0.15rem;
      box-sizing: border-box;
      max-height: 0.51rem;
      p {
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #666666;
      }
    }
    .details-type {
      width: 100%;
      height: 0.48rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      border-bottom: 0.01rem solid rgba(0, 0, 0, 0.10);
      .details-type-ul {
        width: 3rem;
        height: 0.48rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        .details-type-li {
          height: 0.18rem;
          background: rgba(255, 103, 58, 0.10);
          border-radius: 0.1rem;
          padding: 0 0.06rem;
          margin-right: 0.1rem;
          display: block;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-family: PingFangSC-Regular;
            font-size: 0.1rem;
            color: #FF673A;
          }
        }
      }
      .details-like {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        right: 0.15rem;
        top: 0;
        bottom: 0;
        margin: auto;
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.12rem;
          color: #999999;
          margin-right: 0.04rem;
        }
        .like-icon {
          width: 0.18rem;
          height: 0.18rem;
          background-image: url("../img/organizationDetails/like-icon.png");
          background-size: 100%;
          background-repeat: no-repeat;
          overflow: hidden;
        }
      }
      .active {
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.12rem;
          color: #FF673A;
        }
        .like-icon {
          background-image: url("../img/organizationDetails/like-active-icon.png");
        }
      }
    }
    .details-address {
      width: 100%;
      height: auto;
      max-height: 0.6rem;
      padding: 0.1rem .15rem .1rem 0;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .details-address-icon {
        width: 0.18rem;
        height: 0.18rem;
        overflow: hidden;
        margin-right: 0.08rem;
      }
      .details-address-info {
        width: 2.94rem;
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #333333;
        line-height: .2rem;
      }
      .details-address-right-icon {
        width: 0.16rem;
        height: 0.16rem;
        overflow: hidden;
      }
    }
  }
  .appointment-ceremony-box {
    width: 100%;
    height: auto;
    background: #fff;
    padding-left: 0.15rem;
    box-sizing: border-box;
    overflow: hidden;
    .appointment-ceremony-top {
      width: 100%;
      height: 0.46rem;
      padding-right: 0.15rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      .appointment-ceremony-top-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .appointment-ceremony-top-left-icon {
          width: 0.18rem;
          height: 0.18rem;
          overflow: hidden;
          margin-right: 0.08rem;
        }
        .name {
          font-family: PingFangSC-Medium;
          font-size: 0.16rem;
          color: #333333;
          font-weight: bold;
        }
      }
      .appointment-ceremony-top-btn {
        width: 0.68rem;
        height: 0.26rem;
        background: #FF673A;
        border-radius: 0.13rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.12rem;
          color: #FFFFFF;
        }
      }
    }
    .appointment-ceremony-con-box {
      width: 100%;
      height: auto;
      background: #fff;
      border-bottom: 0.01rem solid rgba(0, 0, 0, 0.10);
      padding-bottom: 0.15rem;
      box-sizing: border-box;
      .appointment-ceremony-con {
        width: 3.45rem;
        height: 0.58rem;
        background: #FFFBF0;
        border: 0.01rem solid rgba(229, 162, 12, 0.30);
        padding: .1rem .1rem 0 .1rem;
        box-sizing: border-box;
        overflow: hidden;
        li {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: nowrap;
          margin-bottom: 0.1rem;
          span {
            font-family: PingFangSC-Medium;
            font-size: 0.14rem;
            font-weight: bold;
            color: #333333;
            margin-right: 0.08rem;
          }
          p {
            flex: 1;
            font-family: PingFangSC-Regular;
            font-size: 0.12rem;
            color: #666666;
          }
        }
      }
    }
  }
  .coupon-box {
    width: 100%;
    height: auto;
    background: #fff;
    padding-left: 0.15rem;
    box-sizing: border-box;
    overflow: hidden;
    .coupon-top {
      width: 100%;
      height: 0.46rem;
      padding-right: 0.15rem;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      .coupon-top-left-icon {
        width: 0.18rem;
        height: 0.18rem;
        overflow: hidden;
        margin-right: 0.08rem;
      }
      .name {
        font-family: PingFangSC-Medium;
        font-size: 0.16rem;
        color: #333333;
        font-weight: bold;
      }
    }
    .coupon-con-box {
      width: 100%;
      height: auto;
      background: #fff;
      border-bottom: 0.01rem solid rgba(0, 0, 0, 0.10);
      padding-right: 0.15rem;
      box-sizing: border-box;
      .coupon-ul {
        width: 100%;
        height: auto;
        overflow: hidden;
        .coupon-li {
          width: 100%;
          height: 0.52rem;
          background: #FFFBF0;
          border: 0.01rem solid rgba(229, 162, 12, 0.30);
          padding: .08rem .1rem;
          margin-bottom: 0.15rem;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .coupon-li-left {
            width: 2.5rem;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            .coupon-li-price {
              width: 100%;
              height: auto;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              span {
                font-family: PingFangSC-Semibold;
                font-size: 0.14rem;
                color: #FF673A;
              }
              .coupon-price {
                margin-top: .01rem;
              }
              .coupon-name {
                font-weight: bold;
                margin-left: 0.05rem;
              }
            }
            .coupon-li-desc {
              font-family: PingFangSC-Regular;
              font-size: 0.12rem;
              color: #666666;
            }
          }
          .coupon-li-btn {
            width: 0.68rem;
            height: 0.26rem;
            background: #FF673A;
            border-radius: 0.13rem;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            span {
              font-family: PingFangSC-Regular;
              font-size: 0.12rem;
              color: #FFFFFF;
            }
          }
          .buy-btn {
            width: 0.66rem;
          }
        }
      }
    }
  }
  .preferential-course-box {
    width: 100%;
    height: auto;
    background: #fff;
    padding-left: 0.15rem;
    box-sizing: border-box;
    overflow: hidden;
    .preferential-course-top {
      width: 100%;
      height: 0.46rem;
      padding-right: 0.15rem;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      .preferential-course-icon {
        width: 0.18rem;
        height: 0.18rem;
        overflow: hidden;
        margin-right: 0.08rem;
      }
      .name {
        font-family: PingFangSC-Medium;
        font-size: 0.16rem;
        color: #333333;
        font-weight: bold;
      }
    }
    .preferential-course-ul {
      width: 100%;
      height: auto;
      background: #fff;
      padding-right: 0.15rem;
      box-sizing: border-box;
      overflow: hidden;
      .preferential-course-li {
        width: 100%;
        height: 0.6rem;
        margin-bottom: 0.15rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .preferential-course-img {
          width: 0.6rem;
          height: 0.6rem;
          background: #ccc;
          border-radius: 0.06rem;
          margin-right: 0.1rem;
          overflow: hidden;
        }
        .preferential-course-con {
          width: 2.5rem;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          .course-name {
            font-family: PingFangSC-Semibold;
            font-size: 0.14rem;
            font-weight: bold;
            color: #333333;
            margin-bottom: 0.08rem;
          }
          .course-desc {
            font-family: PingFangSC-Regular;
            font-size: 0.12rem;
            color: #666666;
          }
          .course-price-box {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 0.08rem;
            .course-price {
              font-family: PingFangSC-Semibold;
              font-size: 0.14rem;
              font-weight: bold;
              color: #FF673A;
            }
            .original-price {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-left: 0.08rem;
              span {
                font-family: PingFangSC-Regular;
                font-size: 0.12rem;
                color: #666666;
              }
              .original-price-text {
                text-decoration: line-through;
              }
            }
          }
        }
        .preferential-course-icon {
          width: 0.16rem;
          height: 0.16rem;
          overflow: hidden;
        }
      }
      .preferential-course-li:last-child {
        margin-bottom: 0.08rem;
      }
    }
  }
}

/*  内容 css 结束*/

/*  底部 css 开始*/
footer {
  width: 100%;
  height: 0.5rem;
  background: #fff;
  border-top: 0.01rem solid #ccc;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 222;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/*  底部 css 结束*/
