@charset "utf-8";
img {
  width: 100%;
  display: block;
}

.page-container {
  padding-bottom: 0;
}

.page-wrapper {
  background: #F7F7F7;
  max-width: none;
  -webkit-overflow-scrolling: touch;
}

/*  头部 css 开始*/
.header {
  width: 100%;
  height: 0.44rem;
  background: #FFFFFF;
  box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.05);
  padding: 0 0.15rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  .header-left {
    width: 0.28rem;
    height: 0.28rem;
    overflow: hidden;
  }
  .header-title {
    width: 30%;
    display: block;
    font-family: PingFangSC-Medium;
    font-size: 0.18rem;
    font-weight: bold;
    text-align: center;
    line-height: .44rem;
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .header-share-it {
      width: 0.28rem;
      height: 0.28rem;
      overflow: hidden;
    }
    .header-more {
      width: 0.28rem;
      height: 0.28rem;
      overflow: hidden;
      margin-left: 0.1rem;
    }
  }
}

/*  头部 css 结束*/

/*  内容 css 开始*/
.content {
  width: 100%;
  height: auto;
  background: #F7F7F7;
  margin-bottom: .6rem;
  .banner-box {
    width: 100%;
    height: 1.8rem;
    background: #ccc;
    overflow: hidden;
    .swiper-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      .swiper-wrapper {
        width: 100%;
        height: 100%;
        .swiper-slide {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
      .swiper-pagination {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0.05rem;
        margin: auto;
        span:focus {
          outline: none;
        }
        .swiper-pagination-bullet {
          width: 0.05rem;
          height: 0.05rem;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.30);
          overflow: hidden;
        }
        .swiper-pagination-bullet-active {
          background: #FF673A;
        }
      }
    }
  }
  .details-box {
    width: 100%;
    height: auto;
    background: #fff;
    padding-left: 0.15rem;
    margin-bottom: 0.08rem;
    box-sizing: border-box;
    .details-box-top {
      width: 100%;
      height: 0.5rem;
      background: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      .details-name {
        max-width: 80%;
        font-family: PingFangSC-Medium;
        font-size: 0.2rem;
        font-weight: bold;
        color: #333333;
        margin-right: 0.06rem;
      }
      .details-box-top-icon {
        height: 0.16rem;
        border: 0.01rem solid #AAAAAA;
        border-radius: 0.03rem;
        padding: 0 0.03rem;
        box-sizing: border-box;
        text-align: center;
        line-height: 0.1rem;
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.1rem;
          color: #999999;
        }
      }
      .active {
        display: none;
        border: 0.01rem solid #FF673A;
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.1rem;
          color: #FF673A;
        }
      }
    }
    .details-desc {
      width: 100%;
      height: auto;
      padding-right: 0.15rem;
      box-sizing: border-box;
      max-height: 0.51rem;
      p {
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #666666;
        line-height: 0.17rem;
      }
    }
    .details-type {
      width: 100%;
      height: 0.48rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      border-bottom: 0.01rem solid rgba(0, 0, 0, 0.10);
      .details-type-ul {
        width: 3rem;
        height: 0.48rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        .details-type-li {
          height: 0.18rem;
          background: rgba(255, 103, 58, 0.10);
          border-radius: 0.1rem;
          padding: 0 0.06rem;
          margin-right: 0.1rem;
          display: block;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-family: PingFangSC-Regular;
            font-size: 0.1rem;
            color: #FF673A;
          }
        }
      }
      .details-like {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        right: 0.15rem;
        top: 0;
        bottom: 0;
        margin: auto;
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.12rem;
          color: #999999;
          margin-right: 0.04rem;
        }
        .like-icon {
          width: 0.18rem;
          height: 0.18rem;
          background-image: url("../img/organizationDetails/like-icon.png");
          background-size: 100%;
          background-repeat: no-repeat;
          overflow: hidden;
        }
      }
      .active {
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.12rem;
          color: #FF673A;
        }
        .like-icon {
          background-image: url("../img/organizationDetails/like-active-icon.png");
        }
      }
    }
    .details-address {
      width: 100%;
      height: auto;
      max-height: 0.6rem;
      padding: 0.1rem .15rem .1rem 0;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .details-address-icon {
        width: 0.18rem;
        height: 0.18rem;
        overflow: hidden;
        margin-right: 0.08rem;
      }
      .details-address-info {
        width: 2.94rem;
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #333333;
        line-height: .2rem;
      }
      .details-address-right-icon {
        width: 0.16rem;
        height: 0.16rem;
        overflow: hidden;
      }
    }
  }
  .appointment-ceremony-box {
    width: 100%;
    height: auto;
    background: #fff;
    padding-left: 0.15rem;
    box-sizing: border-box;
    overflow: hidden;
    .appointment-ceremony-top {
      width: 100%;
      height: 0.46rem;
      padding-right: 0.15rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      .appointment-ceremony-top-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .appointment-ceremony-top-left-icon {
          width: 0.18rem;
          height: 0.18rem;
          overflow: hidden;
          margin-right: 0.08rem;
        }
        .name {
          font-family: PingFangSC-Medium;
          font-size: 0.16rem;
          color: #333333;
          font-weight: bold;
        }
      }
      .appointment-ceremony-top-btn {
        width: 0.68rem;
        height: 0.26rem;
        background: #FF673A;
        border-radius: 0.13rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.12rem;
          color: #FFFFFF;
        }
      }
    }
    .appointment-ceremony-con-box {
      width: 100%;
      height: auto;
      background: #fff;
      border-bottom: 0.01rem solid rgba(0, 0, 0, 0.10);
      padding-bottom: 0.15rem;
      box-sizing: border-box;
      .appointment-ceremony-con {
        width: 3.45rem;
        height: auto;
        background: #FFFBF0;
        border: 0.01rem solid rgba(229, 162, 12, 0.30);
        padding: .1rem .1rem 0 .1rem;
        box-sizing: border-box;
        overflow: hidden;
        li {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: nowrap;
          margin-bottom: 0.1rem;
          span {
            font-family: PingFangSC-Medium;
            font-size: 0.14rem;
            font-weight: bold;
            color: #333333;
            margin-right: 0.08rem;
          }
          p {
            flex: 1;
            font-family: PingFangSC-Regular;
            font-size: 0.12rem;
            color: #666666;
          }
        }
        .audition {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: nowrap;
          p {
           line-height: 0.17rem;
          }
        }
      }
    }
  }
  .coupon-box {
    width: 100%;
    height: auto;
    background: #fff;
    padding-left: 0.15rem;
    box-sizing: border-box;
    overflow: hidden;
    .coupon-top {
      width: 100%;
      height: 0.46rem;
      padding-right: 0.15rem;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      .coupon-top-left-icon {
        width: 0.18rem;
        height: 0.18rem;
        overflow: hidden;
        margin-right: 0.08rem;
      }
      .name {
        font-family: PingFangSC-Medium;
        font-size: 0.16rem;
        color: #333333;
        font-weight: bold;
      }
    }
    .coupon-con-box {
      width: 100%;
      height: auto;
      background: #fff;
      border-bottom: 0.01rem solid rgba(0, 0, 0, 0.10);
      padding-right: 0.15rem;
      box-sizing: border-box;
      .coupon-ul {
        width: 100%;
        height: auto;
        overflow: hidden;
        .coupon-li {
          width: 100%;
          height: 0.52rem;
          background: #FFFBF0;
          border: 0.01rem solid rgba(229, 162, 12, 0.30);
          padding: .08rem .1rem;
          margin-bottom: 0.15rem;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .coupon-li-left {
            width: 2.5rem;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            .coupon-li-price {
              width: 100%;
              height: auto;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              span {
                font-family: PingFangSC-Semibold;
                font-size: 0.14rem;
                color: #FF673A;
              }
              .coupon-price {
                margin-top: .01rem;
              }
              .coupon-name {
                font-weight: bold;
                margin-left: 0.05rem;
              }
            }
            .coupon-li-desc {
              font-family: PingFangSC-Regular;
              font-size: 0.12rem;
              color: #666666;
            }
          }
          .coupon-li-btn {
            width: 0.68rem;
            height: 0.26rem;
            background: #FF673A;
            border-radius: 0.13rem;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            span {
              font-family: PingFangSC-Regular;
              font-size: 0.12rem;
              color: #FFFFFF;
            }
          }
          .buy-btn {
            width: 0.66rem;
          }
        }
      }
    }
  }
  .preferential-course-box {
    width: 100%;
    height: auto;
    background: #fff;
    padding-left: 0.15rem;
    box-sizing: border-box;
    margin-bottom: 0.08rem;
    overflow: hidden;
    .preferential-course-top {
      width: 100%;
      height: 0.46rem;
      padding-right: 0.15rem;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      .preferential-course-icon {
        width: 0.18rem;
        height: 0.18rem;
        overflow: hidden;
        margin-right: 0.08rem;
      }
      .name {
        font-family: PingFangSC-Medium;
        font-size: 0.16rem;
        color: #333333;
        font-weight: bold;
      }
    }
    .preferential-course-ul {
      width: 100%;
      height: auto;
      background: #fff;
      padding-right: 0.15rem;
      box-sizing: border-box;
      overflow: hidden;
      .preferential-course-li {
        width: 100%;
        height: 0.6rem;
        margin-bottom: 0.15rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .preferential-course-img {
          width: 0.6rem;
          height: 0.6rem;
          background: #ccc;
          border-radius: 0.06rem;
          margin-right: 0.1rem;
          overflow: hidden;
        }
        .preferential-course-con {
          width: 2.5rem;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          .course-name {
            font-family: PingFangSC-Semibold;
            font-size: 0.14rem;
            font-weight: bold;
            color: #333333;
            margin-bottom: 0.08rem;
          }
          .course-desc {
            height: 0.13rem;
            font-family: PingFangSC-Regular;
            font-size: 0.12rem;
            color: #666666;
            overflow: hidden;
          }
          .course-price-box {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 0.08rem;
            .course-price {
              font-family: PingFangSC-Semibold;
              font-size: 0.14rem;
              font-weight: bold;
              color: #FF673A;
            }
            .original-price {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-left: 0.08rem;
              span {
                font-family: PingFangSC-Regular;
                font-size: 0.12rem;
                color: #666666;
              }
              .original-price-text {
                text-decoration: line-through;
              }
            }
          }
        }
        .preferential-course-icon {
          width: 0.16rem;
          height: 0.16rem;
          overflow: hidden;
        }
      }
      .preferential-course-li:last-child {
        margin-bottom: 0.08rem;
      }
    }
    .course-view-all {
      width: 100%;
      height: 0.46rem;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .view-all {
        width: 1.15rem;
        height: 0.26rem;
        border: 0.01rem solid #999999;
        border-radius: 0.13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-family: PingFangSC-Regular;
          font-size: 0.12rem;
          color: #666666;
        }
      }
    }
  }
  .con-footer {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0.2rem 0;
    box-sizing: border-box;
    overflow: hidden;
    p {
      text-align: center;
      font-family: PingFangSC-Regular;
      font-size: 0.12rem;
      color: #666666;
      line-height: 0.17rem;
    }
    .qr-code {
      width: 2rem;
      height: 2rem;
      background: #ccc;
      margin: 0.05rem auto 0;
    }
  }
}

/*  内容 css 结束*/

/*  底部 css 开始*/
footer {
  width: 100%;
  height: 0.6rem;
  background: #fff;
  border-top: 0.01rem solid #ccc;
  padding: 0 0.15rem;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .telephone-consultation {
    width: 1.66rem;
    height: 0.4rem;
    border: 0.01rem solid #FF673A;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-family: PingFangSC-Medium;
      font-size: 0.16rem;
      color: #FF673A;
    }
  }
  .make-an-appointment {
    width: 1.66rem;
    height: 0.4rem;
    background: #FF673A;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-family: PingFangSC-Medium;
      font-size: 0.16rem;
      color: #FFFFFF;
    }
  }
}

/*  底部 css 结束*/

//弹窗start开始
.pop-window-cover {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.40);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  overflow: hidden;
  display: none;

  .audition-popup {
    width: 100%;
    height: auto;
    background: #fff;
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
    .audition-popup-top {
      width: 100%;
      height: 0.58rem;
      background: #fff;
      padding: 0 0.15rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      .name {
        font-family: PingFangSC-Medium;
        font-size: 0.18rem;
        font-weight: bold;
        color: #333333;
      }
      .shut-down {
        width: 0.2rem;
        height: 0.2rem;
        position: absolute;
        right: .15rem;
        top: .15rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .appointment-reward {
      width: 100%;
      height: 0.72rem;
      background: #FFFBF0;
      padding: 0.15rem 0.15rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      .appointment-reward-li {
        width: 100%;
        height: 0.18rem;
        display: flex;
        align-items: center;
        position: relative;
        .audition-icon {
          width: 0.5rem;
          height: 0.18rem;
          background-image: url("../img/organizationDetails/audition-icon.png");
          background-size: 100%;
          background-repeat: no-repeat;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-family: PingFangSC-Regular;
            font-size: 0.12rem;
            color: #E5A20C;
          }
        }
        .audition-li-right {
          width: 2.85rem;
          height: 0.18rem;
          position: absolute;
          right: 0;
          top: 0;
          margin: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .audition-li-name {
            font-family: PingFangSC-Medium;
            font-size: 0.14rem;
            font-weight: bold;
            color: #333333;
          }
          .audition-li-desc {
            flex: 1;
            font-family: PingFangSC-Regular;
            font-size: 0.12rem;
            color: #666666;
            margin-left: 0.1rem;
            margin-bottom: .01rem;
          }
        }
      }
    }
    .audition-desc {
      width: 100%;
      height: auto;
      padding: 0 0.15rem;
      box-sizing: border-box;
      margin-top: 0.2rem;
      p {
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #666666;
      }
    }
    .audition-input {
      width: 3.45rem;
      height: 0.4rem;
      background: #F7F7F7;
      border: 0.01rem solid #F1F1F1;
      border-radius: 0.2rem;
      padding: 0 0.15rem;
      box-sizing: border-box;
      margin: 0.15rem auto 0.7rem;
      input {
        width: 100%;
        height: 100%;
        line-height: 0.4rem;
        font-family: PingFangSC-Medium;
        font-size: 0.14rem;
        color: #333333;
      }
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #AAAAAA;
        font-size: 0.14rem;
      }
    }
    .audition-input-ul {
      width: 100%;
      height: auto;
      padding: 0 0.15rem;
      box-sizing: border-box;
      margin-top: 0.2rem;
      margin-bottom: 0.7rem;
      .audition-input-li {
        width: 100%;
        height: 0.4rem;
        margin-bottom: 0.15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-family: PingFangSC-Medium;
          font-size: 0.14rem;
          font-weight: bold;
          color: #333333;
        }
        .audition-input-li-box {
          width: 2.79rem;
          height: 0.4rem;
          background: #F7F7F7;
          border: 0.01rem solid #F1F1F1;
          border-radius: 0.2rem;
          padding: 0 0.15rem;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 100%;
            height: 100%;
            line-height: 0.4rem;
            font-family: PingFangSC-Medium;
            font-size: 0.14rem;
            color: #333333;
          }
          input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #AAAAAA;
            font-size: 0.14rem;
          }
        }
      }
      .audition-input-li:last-child {
        margin-bottom: 0;
      }
    }
    .audition-btn {
      width: 3.45rem;
      height: 0.4rem;
      background: #FF673A;
      border-radius: 0.2rem;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.1rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-family: PingFangSC-Medium;
        font-size: 0.16rem;
        color: #FFFFFF;
      }
    }
  }
  .audition-popup-two {
    display: none;
  }

  .advisory-popup {
    width: 100%;
    height: auto;
    background: #fff;
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
    .advisory-popup-top {
      width: 100%;
      height: 0.58rem;
      background: #fff;
      padding: 0 0.15rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .name {
        font-family: PingFangSC-Medium;
        font-size: 0.18rem;
        font-weight: bold;
        color: #333333;
      }
      .shut-down {
        width: 0.2rem;
        height: 0.2rem;
        position: absolute;
        right: .15rem;
        top: .15rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .advisory-desc {
      width: 100%;
      height: auto;
      padding: 0 0.15rem;
      box-sizing: border-box;
      p {
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #666666;
      }
    }
    .advisory-input {
      width: 3.45rem;
      height: 0.4rem;
      background: #F7F7F7;
      border: 0.01rem solid #F1F1F1;
      border-radius: 0.2rem;
      padding: 0 0.15rem;
      box-sizing: border-box;
      margin: 0.15rem auto 0.7rem;
      input {
        width: 100%;
        height: 100%;
        line-height: 0.4rem;
        font-family: PingFangSC-Medium;
        font-size: 0.14rem;
        color: #333333;
      }
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #AAAAAA;
        font-size: 0.14rem;
      }
    }
    .advisory-input-ul {
      width: 100%;
      height: auto;
      padding: 0 0.15rem;
      box-sizing: border-box;
      margin-top: 0.2rem;
      margin-bottom: 0.7rem;
      .advisory-input-li {
        width: 100%;
        height: 0.4rem;
        margin-bottom: 0.15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-family: PingFangSC-Medium;
          font-size: 0.14rem;
          font-weight: bold;
          color: #333333;
        }
        .advisory-input-li-box {
          width: 2.79rem;
          height: 0.4rem;
          background: #F7F7F7;
          border: 0.01rem solid #F1F1F1;
          border-radius: 0.2rem;
          padding: 0 0.15rem;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 100%;
            height: 100%;
            line-height: 0.4rem;
            font-family: PingFangSC-Medium;
            font-size: 0.14rem;
            color: #333333;
          }
          input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #AAAAAA;
            font-size: 0.14rem;
          }
        }
      }
      .advisory-input-li:last-child {
        margin-bottom: 0;
      }
    }
    .advisory-btn {
      width: 3.45rem;
      height: 0.4rem;
      background: #FF673A;
      border-radius: 0.2rem;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.1rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-family: PingFangSC-Medium;
        font-size: 0.16rem;
        color: #FFFFFF;
      }
    }
  }
  .advisory-popup-two {
    display: none;
  }
}

//弹窗start结束

//地址弹窗 结束
.address-popup {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.40);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  overflow: hidden;
  display: none;
  .address-con {
    width: 2.75rem;
    height: 5.1rem;
    background: #fff;
    border-radius: 0.05rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    .address-con-top {
      width: 100%;
      height: 0.5rem;
      padding: 0 0.15rem;
      border-bottom: 0.01rem solid rgba(0, 0, 0, 0.10);
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .title {
        font-family: PingFangSC-Medium;
        font-size: 0.15rem;
        font-weight: bold;
        color: #333333;
      }
      .address-shut-down {
        width: 0.2rem;
        height: 0.2rem;
        position: absolute;
        right: .15rem;
        top: .15rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .address-list-box {
      width: 100%;
      height: 4.6rem;
      overflow: auto;
    }
  }
}

//地址弹窗 开始
